.header {
    color: black;
    display: flex;
    justify-content: space-around;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    
}
.header nav {
    display: flex;
    margin-top: 2%;
    ul{
        display: flex;
        cursor: pointer;
        a{
            text-decoration: none;
            color: black;
            &.underline{
                text-decoration: underline;
            }
        }
        li {
            margin: 0 10px;
            list-style: none;
        }
    }
}