.logement {
    display: flex;
    flex-direction: column;
    img {
        height: 60vh;
        width: 78vw;
        object-fit: cover;
        display: flex;
        align-self: center;
    }
    .locationAndInfo {
        display: flex;
        justify-content: space-between;
        font-family: "Montserrat", sans-serif;
        .location {
            max-width: 30vw;
            margin-left: 10%;
            h1 { 
                font-size: 30px;
                color: #FF6060;
                font-weight: 500;
            }
            p {
                color: black;
                font-weight: 500;
            }
        }
        .info {
                margin-right: 10%;
                display: flex;
                gap: 2%;
            p {
                display: flex;
                align-items: center;
            }
            img {
                width: 5vw;
                height: 5vw;
                border-radius: 57%;
                object-fit: cover;
            }            
        }
    }
    .tagsAndRatings {
        display: flex;
        justify-content: space-between;
        font-family: "Montserrat", sans-serif;
        align-items: baseline;
        .tags {
            display: flex;
            gap: 10%;
            margin-left: 10%;
            p {
                display: flex;
                align-items: center;
                color: white;
                background-color: #FF6060;
                font-weight: 500;
                font-size: 14px;
                padding: 5px;
                width: 13vw;
                border-radius: 5px;
                justify-content: center;
            }
        }
        .ratings {
            margin-right: 10%;
            display: flex;
            gap: 2%;
        }
    }
}

@media (max-width :767.98px) {
    .logement {
        margin-top: 5%;
        .locationAndInfo {
            flex-direction: column;
            .location {
                max-width: unset;
                margin-left: 3%;
            }
            .info {
                position : relative;
                top: 6vh;
                left: 50vw;
                margin-right: 10%;
            }
        }
        .tagsAndRatings {
            flex-direction: column;
            position: relative;
            top: -65px;
            .tags {
                margin-left: 3%;
                gap: 1%;
                p {
                    width: 20vw;
                    font-size: 9px;
                };
            }
            .ratings {
                margin-top: 8%;
            }
        }
    }
}