.thumbs {
    text-decoration: none;
    border-radius: 2%;
    padding: 3px;
        img {
            height: 31vh;
            width: 22vw;
            border-radius: 2%;
            object-fit: cover;
        }
        h2 {
            font-family: "Montserrat", sans-serif;
            font-size: 15px;
            color: white;
            text-decoration: none;}
}